{% extends "base.html" %}

{% block content %}

<div class='table-container'>
    <p>Total Transactions - {{ length }}</p>
    <p>TimeFrame - 30 Days</p>
    <!-- <a class='a btn-group' href='{{ url_for("spending.new_spend") }}'><button id='manualRowBtn' type="button"
            class="btn btn-secondary" title='Add Spend'><i class="fa fa-plus"></i></button></a> -->
    <button type="button" class="btn btn-secondary btn-group" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-plus"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton center-text">
        <a class="dropdown-item" href="{{ url_for('assets.new_asset') }}">Custom Spend</a>
        <a class="dropdown-item" href="{{ url_for('spending.get_transactions') }}">Connect Bank</a>
    </div>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Spend</th>
                <th scope='col'>Category</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody id='assetRows'>
            <div>
                {% for spend in Spends %}
                <tr>
                    <td>{{ spend.name }}</td>
                    <td>{{ spend.type }}</td>
                    <td id='value'>${{ "{:,}".format(spend.amount) }}</td>
                    <td class='center'><a href="{{ url_for('spending.spend_info', spend_id=spend.id) }}"><i
                                class="fas fa-ellipsis-v" title='Edit/More Info'></i></a></td>
                </tr>
                {% endfor %}
            </div>
        </tbody>
        <tr>
            <td>Total Spent</td>
            <td id='total'>${{ "{:,}".format(total) }}</td>
        </tr>

    </table>
</div>


{% endblock %}