{% extends "base.html" %}

{% block content %}

<div class='content'>
    <main role="main" class="container">
        <div class="row">
            <div class="col-sm-12">
                <article class="media content-section">
                    <div class="media-body">
                        <h2>{{ spend.name }} - {{ spend.amount }}</h2>
                    </div>
                    <div>
                        <a class='a' href='{{ url_for("spending.update_spend", spend_id=spend.id) }}'><button
                                class='btn btn-secondary'>Update</button></a>
                        <button type='button' class='btn btn-dark' data-toggle="modal"
                            data-target="#deleteModal">Delete</button>
                    </div>
                </article>
            </div>
        </div>
    </main>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Spend - {{ spend.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this spend?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('spending.delete_spend', spend_id=spend.id) }}" method='POST'>
                    <input type='submit' class='btn btn-danger' value='Delete'>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}