{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="column">
        <img src="/plot.png" alt="my plot">
    </div>
    <div class="column center top-investments">
        <table class="table table-hover table-dark">
            <h2>Top Investments</h2>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Asset</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in assets %}
                <tr>
                    <th scope="row">{{ i }}</th>
                    <td>{{ asset.name }}</td>
                    <td>{{ asset.value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}