.table-container {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 55px;
    padding-right: 55px;
    width: 80%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.btn-group {
    align-self: flex-end;
}

.center-text {
    text-align: center;
}

a, a:hover {
    text-align: end !important; 
    color: white;
}

  * {
    margin: 0;
  }
  
  .content-section {
    background:whitesmoke;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .content {
    padding-top: 40px;
    min-height: calc(100vh - 120px);
    /* 80px header + 40px footer = 120px  */
  }
  
  .center {
    margin: 0 auto;
    text-align: center;
    }